<div class="card-container" (click)="selectCard(cardData())">
    <img [src]="cardData().img" alt="">
    <div class="id">Nº{{ cardData().id }}</div>
    <div class="name">{{ cardData().name }}</div>
    <div class="type-container">
        @for (cardType of cardData().types; track $index) {
            <div
                class="type"
                [ngStyle]="{'background-color': pokemonTypesColors[cardType.type.name]}"
            >
                {{ 'PokemonTypes.' + cardType.type.name | transloco }}
            </div>
        }
    </div>
</div>