<div class="flags-container">
    <img src="./assets/icons/br-flag.png" alt="" (click)="setLanguage('pt-BR')">
    <img src="./assets/icons/uk-flag.png" alt="" (click)="setLanguage('en-US')">
    <img src="./assets/icons/es-flag.png" alt="" (click)="setLanguage('es-ES')">
</div>
<poke-search />

<div class="home-container">
    <div class="pokemon-list">
        <div class="pokemon-list-filter">
            <div>
                <div class="pokemon-list-filter-title">{{ 'Type' | transloco }}</div>
                <div class="pokemon-list-filter-box">
                    <img src="./assets/icons/eye.png">
                    <select class="form-select" (change)="filterByType($event)">
                        <option default value="">{{ 'All' | transloco }}</option>
                        @for (type of pokemonTypes(); track $index) {
                            <option [value]="type">{{ 'PokemonTypes.' + type | transloco }}</option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <div
            class="pokemon-list-container"
            infinite-scroll
            [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="1000"
            [scrollWindow]="true"
            [infiniteScrollDisabled]="!(hasNext$ | async) || !(loaded$ | async) || (isFilteredList$ | async) || pokemonList().length === 1"
            (scrolled)="onScroll()"
        >
            @for (pokemon of pokemonList(); track $index) {
                <poke-card
                    [cardData]="pokemon"
                    (selectedCard)="selectPokemon($event)"
                />
            }
        </div>

        @if(!(loaded$ | async)) {
            <poke-loader [isPageLoader]="(isFilteredList$ | async)" />
        }
        
    </div>

    @if (!isMobile()) {
        <poke-card-info
            [pokemonSelected]="pokemonSelected()"
            [totalStats]="totalStats()"
        />
    }

</div>

<poke-modal #pokeModal>
    <poke-card-info
        [pokemonSelected]="pokemonSelected()"
        [totalStats]="totalStats()"
    />
</poke-modal>