.pokemon-info {
    position: relative;
    width: 400px;
    height: 100%;

    &-container {
        position: sticky;
        top: 18vh;
        right: 0;
        height: 80vh;
        width: 100%;
        max-height: 750px;
        background-color: var(--color-white);
        box-shadow: 0px 6px 24px 0px rgb(0 0 0 / 15%);
        border-radius: 25px;
        padding: 90px var(--spacing-xs) var(--spacing-nano);
        text-align: center;

        .pokemon-info-content {
            display: flex;
            flex-direction: column;
            justify-items: center;
            text-align: center;
            align-items: center;
            overflow: auto;
            width: 100%;
            height: 100%;
            padding-bottom: var(--spacing-xxs);

            // remove scrollbar but still scrollable
            scrollbar-width: none; /* Firefox */
            -ms-overflow-style: none;  /* Internet Explorer 10+ */
            &::-webkit-scrollbar { /* WebKit */
                width: 0;
                height: 0;
            }

            .id {
                color: var(--color-primary);
                font-size: 16px;
                font-weight: 700;
                margin-bottom: -4px;
            }
            
            .name {
                font-weight: 800;
                margin-bottom: var(--spacing-xxs);
                font-size: 24px;
            }
        
            .types-container {
                display: flex;
                gap: var(--spacing-nano);
                margin-bottom: var(--spacing-xxs);
        
                .type {
                    color: var(--color-white);
                    padding: var(--spacing-quarck) var(--spacing-xxs);
                    font-size: 16px;
                    font-weight: 700;
                    border-radius: 5px;
                }
            }
        
            .description {
                text-align: center;
                font-size: 14px;
                font-weight: 500;
                color: var(--color-text-secondary);
                text-transform: initial;
                margin-bottom: var(--spacing-xxs);
            }
        
            .abilities-container {
                width: 100%;
                display: flex;
                justify-content: space-around;
                gap: 10px;
                margin-bottom: var(--spacing-xxs);
                overflow: auto;
        
                .ability {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    border: 1px solid var(--color-ability-border);
                    background-color: var(--color-background);
                    border-radius: 50px;
                    padding: 6px var(--spacing-xs);
                    font-weight: 700;
                    font-size: 16px;
                    justify-content: center;
                    white-space: nowrap;
                }
            }
        
            .attributes-container {
                width: 100%;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                justify-content: space-around;
                column-gap: 10px;
                row-gap: var(--spacing-xxs);
                margin-bottom: var(--spacing-xxs);
        
                div {
                    text-align: center;
                    white-space: nowrap;
        
                    .attribute {           
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: var(--spacing-quarck);
                        width: 100%;
                        background-color: var(--color-background);
                        border-radius: 50px;
                        padding: 6px 0px;
                        font-weight: 700;
                        font-size: 16px;
        
                        &-img {
                            border-radius: 50%;
                            height: 24px;
                            width: 24px;
                            padding: var(--spacing-quarck);;
                        }
                    }
                }
            }
        
            .statistics-container {
                width: 100%;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                margin-bottom: var(--spacing-xxs);
        
                .statistic {
                    background-color: var(--color-background);
                    border-radius: 50px;
                    text-align: center;
                    padding: 10px 6px;
        
                    &-title {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: var(--color-tot);
                        color: var(--color-white);
                        font-size: 10px;
                        font-weight: 700;
                        border-radius: 50%;
                        width: 30px;
                        height: 30px;
                    }
        
                    &-value {
                        font-size: 16px;
                        font-weight: 700;
                    }
                }
            }
    
            .evolution-container {
                width: 100%;
                display: flex;
                justify-content: center;
                gap: var(--spacing-xxxs);
    
                img {
                    height: 80px;
                    width: 100%;
                }
            }
        
            .section-title {
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-size: 16px;
                margin-bottom: var(--spacing-xxs);
            }
        }
    
        .img {
            position: absolute;
            top: -75px;
            height: 150px;
            right: 50%;
            transform: translateX(50%);
        }
    
        .w-100 {
            width: 100%;
        }
    }
}

@media (max-width: 767.98px) {
    .pokemon-info {
        width: 100%;

        &-container {
            position: unset !important;
            height: fit-content;
            padding: 90px 0 0;
            box-shadow: none;
            overflow: auto;
        }
    }
}

@media (max-width: 575.98px) {
    .pokemon-info-container {
        padding: unset;

        .abilities-container {
            flex-wrap: wrap;
            overflow: unset;
        }

        .img {
            position: unset;
            transform: none;
        }
    }
}