.search-box {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-white);
    box-shadow: 0px 6px 24px 0px rgb(0 0 0 / 15%);
    padding: var(--spacing-xxs) var(--spacing-xs);;
    border-radius: 15px;

    input {
        border: none;
        width: 100%;

        &::placeholder {
            font-weight: 100;
            opacity: 0.6;
        }
    }

    button {
        display: flex;
        padding: var(--spacing-nano) 10px;
        border: none;
        background-color: var(--color-secondary);
        border-radius: 8px;
        box-shadow: 0px 6px 24px 0px rgb(255 83 80 / 25%);

        img {
            width: 24px;
        }
    }
}